<footer>
  <div class="footer-main-container">

    <div class="flex flex-wrap-wrap justify-content-space-between mt-5">
      <div class=" ">
        <h4 class="copy-right text-center">Follow Us</h4>
        <div class="icon-container">
          <a href="https://www.facebook.com/khulasanewsupdates/" target="_blank"><img class="social-media-icon"
              src="assets/images/icons/facebook.png" alt="facebook"></a>
          <a href="https://twitter.com/news_khulasa" target="_blank"><img class="social-media-icon"
              src="assets/images/icons/twitter.png" alt="twitter"></a>
          <a href="https://www.instagram.com/newskhulasaindia/" target="_blank"><img class="social-media-icon"
              src="assets/images/icons/insta.png" alt="insta"></a>
        </div>
      </div>
      <div class="align-items-center flex justify-content-center">
        <h6 class="copy-right">© All Rights Reserved</h6>
      </div>
      <div class=" ">
        <h4 class="copy-right text-center">Mobile App</h4>
        <div class="icon-container">
          <a href="https://play.google.com/store/apps/details?id=com.mojodigi.khulasanews" target="_blank"><img class="app-icon"
              src="assets/images/icons/android-brands.svg" alt="facebook"></a>
        
        </div>
      </div>


    </div>

  </div>
</footer>
