<footer>
  <div class="footer-main-container">
    <div class="flex flex-wrap-wrap justify-content-center">
      <a class="footer-link" routerLink="">About Us</a>
      <a class="footer-link" routerLink="">Contact Us</a>
      <a class="footer-link" routerLink="">Privacy Policy</a>
      <a class="footer-link" routerLink="">Disclaimer </a>
      <a class="footer-link" routerLink="">Terms and Conditions </a>
    </div>
    <div class="flex flex-wrap-wrap justify-content-center mt-5">
      <a href="https://www.facebook.com/newskhulasaindia/" target="_blank"><img class="social-media-icon" src="assets/images/icons/facebook.png"
          alt="facebook"></a>
      <a href="https://twitter.com/news_khulasa" target="_blank"><img class="social-media-icon" src="assets/images/icons/twitter.png"
          alt="twitter"></a>
      <a href="https://www.instagram.com/khulasanews24x7/" target="_blank"><img class="social-media-icon" src="assets/images/icons/insta.png"
          alt="insta"></a>
    </div>
    <div class="flex justify-content-center">
      <h6 class="copy-right">© All Rights Reserved</h6>
    </div>
  </div>
</footer>
