.footer-main-container {
  background: #3d3d3d;
  padding: 5px 0px;
}

.footer-link {
  text-decoration: none;
  padding: 2px 5px;
  font-size: 13px;
  color: #fff;
}

.social-media-icon {
  width: 19px;
  height: 19px;
  margin: 0px 15px;

}

.mt-5 {
  margin-top: 5px;
}

.copy-right {
  color: #ababab;
    margin: 3px 0px;
    font-size: 10px;
}

.footer-link:hover {
  color: #4c5fe4
}
