.nav-menu {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0px;
  //box-shadow: 0 2px 15px #888;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;

}

.nav-menu-item {
  flex-grow: 1;
  white-space: nowrap;
}

.nav-link {
  text-decoration: none;
  color: red;
  padding: 0px 5px 3px 5px;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 18px;
  margin-right: 10px;

}

.logo {
  width: 120px;
  height: 37px;
}

.nav-link-active {
  border-bottom: solid 1px red
}

.header {
  padding: 10px 10px 0px 10px;
}



.menu-icon {
  width: 26px;
  height: 24px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: all 0.5s;
  padding-top: 30px;
  transform: translateX(-250px);
}

.right-Side {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2d2b2b75;
  overflow-x: hidden;
  transition: all 0.5s;

}

.side-nav-menu {
  list-style: none;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.side-nav-link {
  text-decoration: none;
  color: #fff;
  padding: 3px 0px;
  display: block;
  font-size: 16px;
  margin: 0px 0px 0px 25px;
}

.side-nav-link-active {
  border-bottom: solid 2px #fff;
  max-width: 80%
}

.search-box {
  width: 97%;
  display: block;
  font-size: 16px;
  border: solid 1px #909090;
  padding-left: 5px;
  height: 22px;
  border-radius: 4px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #fff;
}

.btn-search {
  padding: 0px;
  background: transparent;
  border: transparent;
  position: absolute;
  right: -10px;
  top: 2px;
}

.search-icon {
  width: 55%;
}

.search-container {
  position: relative;
}

.d-none {
  display: none;
}

.language-container {
  background-color: #b78a0b;
  display: flex;
  /* flex-direction: row; */
  /* flex-flow: row; */
  justify-content: space-between;
  margin-top: 5px;

  color: #fff;
  font-size: 14px;
}

.lang-inner-container {
  padding: 5px 10px;
}

.close-lang {
  padding: 6px 20px;
  border-left: solid 2px #fff;
}

.btn-lang {
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
  font-size: 14px;
  padding: 1px 10px;
  border-radius: 6px;
}
