<header>
  <div></div>
  <nav>
    <ul class="nav-menu">
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" routerLink="/">home</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 1]">news</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 2]">politics</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 3]">business</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 4]">sports</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 5]">video</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 6]">life style</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 7]">entertainment</a></li>
      <li class="nav-menu-item"><a class="nav-link"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active" [routerLink]="['/category', 8]">offbeat</a></li>
    </ul>
  </nav>
</header>