<div class="home-page">
  <app-news-template [categoryID]="42" [count]='5'></app-news-template>
  <app-ad-banner [clientId]="'ca-pub-3822246774100425'" [slotId]="'2303163047'"></app-ad-banner>
  <app-news-template [categoryID]="43" [count]='5'></app-news-template>
  <app-ad-banner [clientId]="'ca-pub-3822246774100425'" [slotId]="'8868447680'"></app-ad-banner>
  <app-news-template [categoryID]="48" [count]='5'></app-news-template>
  <app-ad-banner [clientId]="'ca-pub-3822246774100425'" [slotId]="'2163562243'"></app-ad-banner>
  <app-news-template [categoryID]="41" [count]='5'></app-news-template>
</div>
