<app-loader *ngIf="loader" [count]="10"></app-loader>

<div *ngIf="pointTableData && pointTableData.length>0" class="table-container">
  <table>
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Team</th>
        <th>M</th>
        <th>W</th>
        <th>L</th>
        <th>NRR</th>
        <th>Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr class="point_row" *ngFor="let pt of pointTableData;let i = index">
        <td>{{i+1}}</td>
        <td> <img src="{{pt.teamImage}}" alt=""> &nbsp;&nbsp;{{pt.teamCode}}</td>
        <td>{{pt.playedMatch}}</td>
        <td>{{pt.wonMatch}}</td>
        <td>{{pt.lostMatch}}</td>
        <td>{{pt.nrr}}</td>
        <td>{{pt.points}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="errMsg" class="error-msg-box">
  <div class="error-msg ">{{errMsg}}</div>
</div>
