<div class="table-container">




  <table>
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Team</th>
        <th>M</th>
        <th>W</th>
        <th>L</th>
        <th>NRR</th>
        <th>Pts</th>

      </tr>
    </thead>
    <tbody>

      <!-- ENG -->
      <tr class="point_row">
        <td>1</td>
        <td><img src="assets/images/world_cup/eng.png" alt=""> ENG</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>+2.080</td>
        <td>2</td>

      </tr>
      <!-- AFG -->
      <tr class="point_row">
        <td>2</td>
        <td><img src="assets/images/world_cup/afg.png" alt="">AFG</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- AUS -->
      <tr class="point_row">
        <td>3</td>
        <td><img src="assets/images/world_cup/aus.png" alt="">AUS</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- BAN -->
      <tr class="point_row">
        <td>4</td>
        <td><img src="assets/images/world_cup/ban.png" alt="">BAN</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- IND -->
      <tr class="point_row">
        <td>5</td>
        <td><img src="assets/images/world_cup/ind.png" alt="">IND</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- NZ -->
      <tr class="point_row">
        <td>6</td>
        <td><img src="assets/images/world_cup/nz.png" alt="">NZ</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- PAK -->
      <tr class="point_row">
        <td>7</td>
        <td><img src="assets/images/world_cup/pak.png" alt="">PAK</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- SL -->
      <tr class="point_row">
        <td>8</td>
        <td><img src="assets/images/world_cup/sl.png" alt="">SL</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- WI -->
      <tr class="point_row">
        <td>9</td>
        <td><img src="assets/images/world_cup/wi.png" alt="">WI</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>+0.000</td>
        <td>0</td>

      </tr>
      <!-- SA -->

      <tr class="point_row">
        <td>10</td>
        <td><img src="assets/images/world_cup/sa.png" alt="">SA</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>-2.080</td>
        <td>0</td>

      </tr>
    </tbody>
  </table>
</div>
