<div #singlepostcontainer class="scroll">
  <div [hidden]='!loader'>
    <app-single-loader></app-single-loader>
  </div>

  <article *ngIf="post" class="single-post-container">
    <h4 class="single-post-title"> {{post.title}}</h4>
    <div class="post-date-or-author">
      <span><img class="date-and-user-icon" src="assets/images/icons/calendar-icon.png" alt=""> {{post.createDate |
      date:'longDate' | uppercase}}</span>
      <span class="pl-3 "><img class="date-and-user-icon" src="assets/images/icons/person.png" alt=""> {{post.author}}
      </span>


      <app-share-to-app [post]="post"></app-share-to-app>

    </div>
    <div class="p-lr">
      <a href="https://app.appsflyer.com/video.like?pid=morrisdigital_int&af_sub1={publisher_id}_{source}&af_click_lookback=7d&clickid={click_id}"
        target="_blank">
        <img style="width:100%;" src="assets/images/banner/like4.jpg" alt="" srcset="">
      </a>
    </div>


    <!-- <div class="p-lr" style="margin-top:10px ">
      <a href="http://www.development.bdigimedia.com/apk/filehunt/jmm01-12.1.13-APK.apk" download>
        <img style="width:100%" src="assets/images/banner/dailyhunt.jpg" alt="" srcset="">
      </a>
    </div> -->


    <!-- <a href="https://app.appsflyer.com/video.like?pid=morrisdigital_int&af_sub1={publisher_id}_{source}&af_click_lookback=7d&clickid={click_id}"
      target="_blank">
      <img class="w-100" src="assets/images/banner/like3.jpg" alt="" srcset="">
    </a> -->
    <!-- <a href="https://jack.vnative.net/5d089ebeb6920d5cf72dfcf5" target="_blank">
      <img style="margin-bottom: 5px ; " class="w-100" src="assets/images/banner/telugubanner.jpg" alt="" srcset="">
    </a> -->
    <img *ngIf="!ytVideo" class="w-100" [src]="post.featuredImage.original" [alt]="post.featuredImage.original">

    <div class="single-post-content" #postContent [innerHTML]='post.content'></div>
    <iframe class="ytVideo" *ngIf="ytVideo" [src]="youTubeUrl" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </article>

  <div class="error-msg-box" [hidden]='!errorMsg'>
    <h6 class="error-msg"> {{errorMsg}}</h6>
    <div class="btn-box">
      <button class="btn-retry" (click)="getpost()">Retry</button>
    </div>
  </div>

  <app-ad-banner [slotId]="'2303163047'"></app-ad-banner>
  
  <div class="p-lr" style="margin-top:10px;">
    <a href="http://www.development.bdigimedia.com/apk/filehunt/jmm01-12.1.13-APK.apk" download>
      <img *ngIf="lang=='hin'" style="width:100%; border:solid 1px #e3e3e3 "
        src="assets/images/banner/dailyhunt-hin1.jpg" alt="" srcset="">
      <img *ngIf="lang=='eng'" style="width:100%; border:solid 1px #e3e3e3 "
        src="assets/images/banner/dailyhunt-eng1.jpg" alt="" srcset="">
    </a>
  </div>

  <div>
    <h3 class="related-post">Related-Posts</h3>
    <app-loader [hidden]="!relatedPostLoader" [count]="3"></app-loader>
    <div *ngIf="relatedPostList && relatedPostList.length > 0">
      <article class="post-container" *ngFor="let relatedPost of relatedPostList"
        [routerLink]="['/', relatedPost.slug]">
        <div class="float-left">
          <img [src]="relatedPost.featuredImage.original" class="post-image" alt="">
        </div>
        <div>
          <h5 class="post-title">{{relatedPost.title}}</h5>
          <p class="post-content">{{relatedPost.content}}</p>
        </div>
      </article>
    </div>
    <div class="error-msg-box" [hidden]="!relatedPostError">
      <h6 class="error-msg"> {{relatedPostError}}</h6>
    </div>
  </div>
  <app-ad-banner [slotId]="'2185782979'"></app-ad-banner>
</div>
