<div class="p-lr">
  <div class="wrapper ">
    <div class="wrapper-cell">
      <div class="text">
        <div class="text-line-title"></div>
        <div class="text-line-title"></div>
        <div class="flex">
          <div class="text-line-date-and-auther"></div>
          <div class="text-line-date-and-auther"></div>
        </div>
      </div>
      <div class="image"></div>
      <div class="text">
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
      </div>
    </div>
  </div>
</div>
