<!-- <div class="p-lr" style="margin-top:10px ">
  <a href="https://app.appsflyer.com/video.like?pid=morrisdigital_int&af_sub1={publisher_id}_{source}&af_click_lookback=7d&clickid={click_id}"
    target="_blank">
    <img class="w-100" src="assets/images/banner/like2.jpg" alt="" srcset="">
  </a>
</div> -->

<!-- <div class="p-lr" style="margin-top:10px;">
  <a href="http://www.development.bdigimedia.com/apk/filehunt/jmm01-12.1.13-APK.apk" download>
    <img *ngIf="lang=='hin'" style="width:100%; border:solid 1px #e3e3e3 " src="assets/images/banner/dailyhunt-hin1.jpg"
      alt="" srcset="">
    <img *ngIf="lang=='eng'" style="width:100%; border:solid 1px #e3e3e3 " src="assets/images/banner/dailyhunt-eng1.jpg"
      alt="" srcset="">
  </a>
</div> -->
<div class="p-lr">
  <a href="https://app.appsflyer.com/video.like?pid=morrisdigital_int&af_sub1={publisher_id}_{source}&af_click_lookback=7d&clickid={click_id}"
    target="_blank">
    <img style="width:100%;" src="assets/images/banner/like5.jpg" alt="" srcset="">
  </a>
</div>

<app-news-template class="scroll" [categoryID]="categoryId"></app-news-template>
