table,
th,
td {
  border-bottom: 1px solid #a9a9a9;
  border-top: solid 1px #a9a9a9;
  border-collapse: collapse;
}

table {
  width: 100%;
  overflow: auto;
  margin: 15px 0px;

  thead {
    background-color: #965f0e;
    color: #eaeaea;
    text-align: left;

    tr,
    th {
      padding: 5px;
      font-size: 12px;
    }
  }

  tbody tr td:nth-child(1) {
    display: flex;
    align-items: center;
    border-bottom: none;

    span:nth-child(2) {
      margin-left: 10px;
    }
  }

  tbody {
    tr {


      td {
        padding: 5px;
        font-size: 10px;

        img {
          width: 35px;
          height: 35px;
          border-radius: 2pc;
        }

      }
    }
  }

}




.match-title {
  margin: 0px;
  padding: 5px;
  color: #fff;
  background: #5d5959;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;

  span {
    font-size: 9px;
    text-transform: capitalize;
  }
}

.match-note {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  color: #505050;
}

.team-detail-container {
  img {
    width: 55px;
    height: 55px;
    margin: 0px 7px;
    border: solid 2px #1055b7;
    border-radius: 2pc;
  }

  display: flex;
  justify-content: space-around;
  font-size: 12px;
  margin: 10px 0px 0px 0px;
}

.visitar-team,
.local-team {
  text-align: center;
  display: flex;
}

.team-name {
  margin: 5px 0px;
}

.score-card-button-container {
  display: flex;

  button {
    width: 100%;
    height: 25px;
    font-size: 12px;
    border: none;
  }
}

.score-card-button {

  background-color: #fc8d3b;
  color: #fff;
}

.score {
  font-size: 10px;
  font-weight: 600;

  span {
    display: block;
  }
}
