<div class="p-lr" *ngIf="liveScore">
  <div style="margin-top: 10px;" *ngFor="let ls of liveScore">
    <h1 class="match-title">{{ls.round}}  <span *ngIf="(ls.tossWinTeamId>0); else showNote">| ( Toss Won by {{ls.tossWinTeamName}} and
        elected {{ls.elected}} )</span> 
        <ng-template #showNote>
          | {{ls.note.length ? ls.note : (ls.status === 'NS' ? 'Match not started' : '') }}
        </ng-template>
      
      </h1>
    <div class="team-detail-container">
      <div class="local-team">
        <div>
          <img src="{{ls.localTeam.image_path}}" alt="local team flag">
          <h5 class="team-name">{{ls.localTeam.name}}</h5>
        </div>
        <h4 *ngIf="localTeamStatus" class="score">{{localTeamStatus}}</h4>
        <div *ngFor="let run of ls.runs">
          <h4 class="score" *ngIf="ls.localTeam.id==run.teamId">{{run.score}}/ {{run.wicket}} <span> ({{run.over}}
              Ovs)</span>
          </h4>

        </div>
      </div>
      <div class="visitar-team">

        <div *ngFor="let run of ls.runs">
          <h4 class="score" *ngIf="ls.visitarTeam.id==run.teamId">{{run.score}}/ {{run.wicket}} <span> ({{run.over}}
              Ovs)</span>
          </h4>



        </div>
        <h4 class="score">{{visitarTeamStatus}}</h4>
        <div>
          <img src="{{ls.visitarTeam.image_path}}" alt="visitar team flag">
          <h5 class="team-name">{{ls.visitarTeam.name}}</h5>
        </div>
      </div>
    </div>
    <h4 class="match-note"> {{ls.note}} </h4>
    <div class="score-card-button-container">
      <button type="button" [ngClass]="{'score-card-button':scoreCard=='localTeam'}"
        (click)="scoreCard='localTeam'">{{ls.localTeam.name}}</button>
      <button type="button" [ngClass]="{'score-card-button':scoreCard=='visitarTeam'}"
        (click)="scoreCard='visitarTeam'">{{ls.visitarTeam.name}}</button>
    </div>
    <div [ngSwitch]="scoreCard">
      <div *ngSwitchCase="'localTeam'">

        <table>
          <thead>
            <tr>
              <th>Batting</th>
              <th>R</th>
              <th>B</th>
              <th>4s</th>
              <th>6s</th>
              <th>S/R</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bt of ls.batting" [hidden]="bt.teamId!=ls.localTeamId">
              <td> <span> <img src="{{bt.playerImagePath}}" alt=""> </span> <span>{{bt.playerName}}</span></td>
              <td>{{bt.score}}</td>
              <td>{{bt.ball}}</td>
              <td>{{bt.four}}</td>
              <td>{{bt.six}}</td>
              <td>{{bt.sRate}}</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Bowling </th>
              <th>O</th>
              <th>W/B</th>
              <th>N/B</th>
              <th>M/O</th>
              <th>R</th>
              <th>W</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bw of ls.bowling" [hidden]="bw.teamId!=ls.visitarTeamId">
              <td> <span><img src="{{bw.playerImage}}" alt=""></span> <span>{{bw.playarName}}</span></td>
              <td>{{bw.overs}}</td>
              <td>{{bw.wide}}</td>
              <td>{{bw.noBall}}</td>
              <td>{{bw.medians}}</td>
              <td>{{bw.runs}}</td>
              <td>{{bw.wickets}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngSwitchCase="'visitarTeam'">

        <table>
          <thead>
            <tr>
              <th>Batting</th>
              <th>R</th>
              <th>B</th>
              <th>4s</th>
              <th>6s</th>
              <th>S/R</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bt of ls.batting" [hidden]="bt.teamId!=ls.visitarTeamId">
              <td><span> <img src="{{bt.playerImagePath}}" alt=""></span> <span>{{bt.playerName}}</span></td>
              <td>{{bt.score}}</td>
              <td>{{bt.ball}}</td>
              <td>{{bt.four}}</td>
              <td>{{bt.six}}</td>
              <td>{{bt.sRate}}</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Bowling </th>
              <th>O</th>
              <th>W/B</th>
              <th>N/B</th>
              <th>M/O</th>
              <th>R</th>
              <th>W</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bw of ls.bowling" [hidden]="bw.teamId!=ls.localTeamId">
              <td><span><img src="{{bw.playerImage}}" alt=""></span> <span>{{bw.playarName}}</span></td>
              <td>{{bw.overs}}</td>
              <td>{{bw.wide}}</td>
              <td>{{bw.noBall}}</td>
              <td>{{bw.medians}}</td>
              <td>{{bw.runs}}</td>
              <td>{{bw.wickets}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
