/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

.flex {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}


.align-items-center {
  align-items: center;
}


.w-100 {
  max-width: 100%;
}

.float-left {
  float: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  flex: 0 0 12%;
  max-width: 12%;
}

.col-5 {
  flex: 0 0 44%;
  max-width: 44%;
}

.p-lr {
  padding: 0px 10px
}

.scroll {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.home-page .scroll {
  height: auto;
  max-height: auto;
}

.error-msg {
  margin: 10px 0;
  font-size: 14px;
  font-family: Oswald, sans-serif;
  font-weight: lighter;
}

.error-msg-box {
  padding: 0px 10px;
}
.btn-box
{
  margin: 10px 0px;
}
.btn-retry {
  background: #1f56d6;
  border: solid 2px #1547bf;
  color: #fff;
  border-radius: 4px;
  padding: 0px 15px;
  font-size: 14px;
  font-family: Oswald, sans-serif;
}

.portal {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .single-post-content {
    color: #3d3d3d;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      font-size: 16px;
    }
  }
}
